.Path {
  padding: var(--space-s) 0;
}

.Path-Element,
.Path-Divider {
  color: #7f8285;
}

.Path-Divider {
  margin: 0 0.25em;
}

@media screen and (min-width: 414px) {
  .Path {
    padding: var(--space-xs) 0;
  }
}
