<div class="FileViewer">
  <div class="FileViewer-Head Divider Typo Typo_size_s">
    <div>
      <span class="FileViewer-FileName">{{ filename }}</span>
      <span class="FileViewer-FileSize Typo Typo_size_xs">{{ fileSize }}</span>
    </div>
    <button class="FileViewer-FileDownload Typo Typo_size_s">
      <span class="Icon Icon_img_download"></span>
    </button>
  </div>
  <table class="FileViewer-Content Typo-Code">
    <tbody>
      <each loop="line, index in fileContent">
        <tr class="Line">
          <td class="Line-Num">{{ index + 1 }}</td>
          <td class="Line-Code">{{ line }}</td>
        </tr>
      </each>
    </tbody>
  </table>
</div>
