<details class="RepositorySelector">
  <summary class="RepositorySelector-Button" role="button">
    <span class="RepositorySelector-Label Typo_weight_bold">Repository</span>
    <span class="RepositorySelector-Value">Arc</span>
    <img
      class="RepositorySelector-Arrow"
      src="/assets/dropdown-arrow-down.svg"
      alt=""
      aria-hidden="true"
    />
  </summary>
  <ul class="RepositorySelector-Options">
    <li class="RepositorySelector-Option">
      <a href="#" class="RepositorySelector-Value">Arc</a>
    </li>
    <li class="RepositorySelector-Option">
      <a href="#" class="RepositorySelector-Value">My repository</a>
    </li>
    <li class="RepositorySelector-Option">
      <a href="#" class="RepositorySelector-Value">Devtools-team repository</a>
    </li>
  </ul>
</details>
