<div class="FileDiff">
  <div class="FileDiff-Header Typo Typo_size_s">
    <div class="FileDiff-FileName">
      <span class="FileDiff-Marker">M</span>
      <span class="Icon Icon_img_file"></span>
      {{ filename }}
    </div>
    <div class="FileDiff-Actions">
      <div class="FileDiffStat">
        <span class="FileDiffStat-Element Text_color_green">+100</span>
        <span class="FileDiffStat-Element Text_color_red">-81</span>
      </div>
      <a href="#" class="FileDiff-Open">
        <span class="Icon Icon_img_open"></span>
      </a>
    </div>
  </div>
  <div class="FileDiff-Content">
    <table class="FileDiff-Table Typo-Code Table">
      <tbody>
        <tr class="Line Line_type_expand">
          <td colspan="4" class="Line-Changes">
            <span class="">@@ -270, 160 +270, 161 @@</span>
            <div class="FileDiff-LoadMore">
              <include src="src/components/file-diff/load-more.html"></include>
            </div>
          </td>
        </tr>
        <tr class="Line Line_type_context">
          <td class="Line-Num">1</td>
          <td class="Line-Num">1</td>
          <td class="Line-Code">
            package ru.yandex.devtools.intellij.arc.client;
          </td>
        </tr>
        <tr class="Line Line_type_context">
          <td class="Line-Num">2</td>
          <td class="Line-Num">2</td>
          <td class="Line-Code"></td>
        </tr>
        <tr class="Line Line_type_add">
          <td class="Line-Num"></td>
          <td class="Line-Num">3</td>
          <td class="Line-Code">import java.util.ArrayList;</td>
        </tr>
        <tr class="Line Line_type_add">
          <td class="Line-Num"></td>
          <td class="Line-Num">4</td>
          <td class="Line-Code">import java.util.Collection;</td>
        </tr>
        <tr class="Line Line_type_add">
          <td class="Line-Num"></td>
          <td class="Line-Num">5</td>
          <td class="Line-Code">import java.util.List;</td>
        </tr>
        <tr class="Line Line_type_add">
          <td class="Line-Num"></td>
          <td class="Line-Num">6</td>
          <td class="Line-Code"></td>
        </tr>
        <tr class="Line Line_type_remove">
          <td class="Line-Num">12</td>
          <td class="Line-Num"></td>
          <td class="Line-Code">import java.util.ArrayList;</td>
        </tr>
        <tr class="Line Line_type_remove">
          <td class="Line-Num">13</td>
          <td class="Line-Num"></td>
          <td class="Line-Code">import java.util.Collection;</td>
        </tr>
        <tr class="Line Line_type_remove">
          <td class="Line-Num">14</td>
          <td class="Line-Num"></td>
          <td class="Line-Code">import java.util.List;</td>
        </tr>
        <tr class="Line Line_type_remove">
          <td class="Line-Num">15</td>
          <td class="Line-Num"></td>
          <td class="Line-Code"></td>
        </tr>
        <tr class="Line Line_type_expand">
          <td colspan="4" class="Line-Changes">
            <span class="">@@ -270, 160 +270, 161 @@</span>
            <div class="FileDiff-LoadMore">
              <include src="src/components/file-diff/load-more.html"></include>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
